<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <link rel="stylesheet" href="../css/comments.css">

    

</head>

<body>

    <nav class="navbar">
        <div class="logo">
            <a href="/">Blog AK</a>
        </div>
    
        <div class="menu__container">
            <ul class="menu-links">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/userPanal">Userpanal</a></li>
                <li><a href="/all_users">All Users</a></li>
                <li><a href="/get_create_post">Create Post</a></li>
               <%if(login){ %>
                <li><a href="/logout">Logout</a></li>
                <% } %>
    
                <%if(!login){ %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                <% } %>
            </ul>
        </div>

        <div class="hambergur">
            <i class="fas fa-bars"></i>
        </div>
    </nav>




    <section class="comments__section">
    

        <div class="particular_Blog__div">
                 
                    <div class="blog__post">
                        <div class="blog__post__header">
                            <div class="author__img">
                                <img src="../images/pngwing.com (3).png" alt="">
                            </div>

                            <div class="author__name">
                                <h2><%= currentBlog.userName %></h2>
                            </div>
                        </div>

                        <div class="blog__post__main">

                            <p><%= currentBlog.blog %> </p>

                        </div>

                        <div class="blog__post__footer">
                            <div class="like">
                                <a href="/update_like_count/<%= currentBlog._id %>"><span class="like__count"><%= currentBlog.likeCount %></span><i class="fas fa-thumbs-up"></i>like</a>
                            </div>

                            <div class="like">
                                <a href="/comments/<%= currentBlog.id %>"><i class="fas fa-comments"></i>Comment</a> 
                            </div>

                            <div class="like">
                                <a href="#"><i class="fas fa-share"></i>Share</a> 
                            </div>
                        </div>
                    </div>       

        </div>

        <div class="comment_send_box">
            <form action="/post_comment/<%= currentBlog.id %>" method="POST">

                <div class="input__field">
                    <label for="comment">Enter your comment :</label>
                    <input type="text" name="comment" placeholder="Enter your thought" required>
                </div>

                <div class="comment__btn">
                    <button type="submit">Comment</button>
                </div>
                
            </form>
        </div>


        <div class="comments__div">
            <h2 class="comment__heading">Comments : <br></h2>


            <div class="comments">

                <%  for(let i=comments.length-1; i>=0; i--){ %>

                    <% if(comments[i].currentBlogID === currentBlogID){ %>
                            <div class="comment">
                                <div class="comment__header">
                                        <div class="img">
                                            <img src="../images/pngwing.com (8).png" alt="">
                                        </div>
                                        <div class="name">
                                            <h2><%= comments[i].userName %></h2>
                                        </div>
                                </div>

                                <div class="comment__txt">
                                    <p><%= comments[i].comment %></p>
                                </div>
                            </div>
                    <% } %>

                <%  } %>


            </div>


        </div>


    </section>





      <!-- ===================== Footer ======================= -->
      <footer class="footer">

        <div class="footer__wrapper">

            <div class="info__footer">
                 <div class="footer__logo">
                     <a href="#">
                        <!-- <div class="logo">
                               <img src="./hamburger.png" alt="">
                        </div> -->

                        <div class="logo__txt">
                            <h2>ShayRI</h2>
                        </div>
                     </a>
                 </div>

                 <div class="details__para__footer">
                     <p>This is the blog site ,
                        here you can post the blog 
                        and can see the people blog.</p>
                 </div>

                 <div class="personal__details__footer">
                     <p><i class="fas fa-circle dot"></i> Mo No : 7387137596</p>
                     <p><i class="fas fa-circle dot"></i> Email : ankuchavhan11@gmail.com</p>
                 </div>
            </div>



    
            <div class="others__page__footer">
                <div class="footer__section__title">
                    <h2>Others Pages</h2>
                </div>

                <ul>
                    <li>
                        <a href="#" class="link__footer">Suppliers</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">term & services</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">carrer</a>
                    </li>
                </ul>
            </div>

    

            <div class="other__links__footer">
                <div class="footer__section__title">
                    <h2>Others Links</h2>
                </div>

                <ul>
                    <li>
                        <a href="#" class="link__footer">Suppliers</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">term & services</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">carrer</a>
                    </li>
                </ul>
            </div>
    


            <div class="social__footer">
                <div class="footer__section__title">
                    <h2>Follow Us</h2>
                </div>

                <div class="social__icons">
                    <div>
                        <a href="#">
                            <img src="./images/facebook (1).png" alt="">
                        </a>
                    </div>

                    <div>
                        <a href="#">
                            <img src="./images/instagram (1).png" alt="">
                        </a>
                    </div>

                    <div>
                        <a href="#">
                            <img src="./images/github-sign (1).png" alt="">
                        </a>
                    </div>

                    <div>
                        <a href="#">
                            <img src="./images/linkedin (1).png" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>


        <div class="footer__bottom">
            <p>&copy; Copyright <span class="current__year__footer"></span> All Rights are reserved.</p>
        </div>

    </footer>

    <script>
            const currentYear = document.querySelector(".current__year__footer");

            const date = new Date();

            currentYear.textContent = date.getFullYear();


            const hambergur = document.querySelector(".hambergur");

            const sidebar_menu = document.querySelector(".menu__container");

            hambergur.addEventListener("click", ()=>{
                sidebar_menu.classList.toggle("show_sidebar_menu");
            });
    </script>
      

</body>
</html>