<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <link rel="stylesheet" href="./css/home.css">

</head>

<body>
    
    <section class="landing_page">
      
        <nav class="navbar">
            <div class="logo">
                <a href="/">ShayRI</a>
            </div>
        
            <div class="menu__container">
                <ul class="menu-links">
                    <li><a href="/" class="active">Home</a></li>
                    <li><a href="/userPanal">Userpanal</a></li>
                    <li><a href="/all_users">All Users</a></li>
                   <li><a href="/get_create_post">Create Post</a></li>

                   <%if(login){ %>
                    <li><a href="/logout">Logout</a></li>
                    <% } %>
        
                    <%if(!login){ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    <% } %>
                </ul>
            </div>

            <div class="hambergur">
                <i class="fas fa-bars"></i>
            </div>
        </nav>



        <div class="hero__section">
            <div class="left">
                  <div class="main_heading">
                      <h1>Enjoy the ride of  Shayri</h1>
                  </div>
                  <div class="main_heading_para">
                      <p>Here you will get the different categories of shayri , peoples views <br class="br"> and 
                        thoughts.
                    </p>
                  </div>

                  <div class="buttons">
                      <a href="#Create_Post">Explore</a>
                      <a href="#">About Us</a>
                  </div>
            </div>

            <div class="right">
                <div class="side__img">
                    <img src="./images/pngwing.com (4).png" alt="">
                </div>
            </div>
        </div>

    </section>



    <!-- ============= Blog Section ============ -->
    <!-- <section class="Create__Post" id="Create_Post">
      


        <div class="create__post__section">

            <div class="main__title">
                <h2>Create Posts </h2>
                <p>Share your thoughts with the entire world. </p>
            </div>

            <form action="/post_blog" method="POST">
                <div class="info__label">

                    <div class="img__cont">
                        <img src="./images/pngwing.com (2).png" alt="">
                    </div>

                    <div class="name">
                        <h2><%= (login)? user.full_name : "Your Name " %></h2>
                    </div>
                </div>


                <div class="input_post_cont">
                    <textarea cols="30" rows="7" placeholder="Enter Something ...." name="blog" required></textarea>
                </div>

                <div class="background_img_field">
                    <label for="#">Background image<br></label>
                    <input type="file" name="backgroundBlogImg">
                </div>

                <div class="post__btn">
                     <button type="submit">Post</button>
                </div>
            </form>

        </div>

    </section> -->




    <!-- =================== Blog Posts ====================== -->
    <section class="blog__posts__section">


        <% if(blogs.length != 0){ %>

                <div class="main__title">
                    <h2>Shayri Posts </h2>
                    <p>Below are the most recent shayri posts. </p>
                </div>


                <div class="blog__posts__container">

                  <%  if(blogs.length >2){ %>

                                <% for(let i=blogs.length-1 ; i>=blogs.length-2; i--){ %>

                                    <div class="blog__post">
                                        <div class="blog__post__header">
                                            <div class="author__img">
                                                <img src="./images/pngwing.com (3).png" alt="">
                                            </div>

                                            <div class="author__name">
                                                <h2><%= blogs[i].userName %></h2>
                                            </div>
                                        </div>

                                        <div class="blog__post__main">

                                            <p><%= blogs[i].blog %> </p>

                                        </div>

                                        <div class="blog__post__footer">
                                            <div class="like">
                                            <a href="/update_like_count/<%= blogs[i]._id %>"><span class="like__count"><%= blogs[i].likeCount %></span><i class="fas fa-thumbs-up"></i>like</a> 
                                            </div>

                                            <div class="like">
                                                <a href="/comments/<%= blogs[i].id %>"><i class="fas fa-comments"></i>Comment</a> 
                                            </div>

                                            <div class="like">
                                                <a href="#"><i class="fas fa-share"></i>Share</a> 
                                            </div>
                                        </div>
                                    </div>                                
                                <% } %>

                          <% } %>




                          <% if(blogs.length <= 2 ){ %>

                            <% for(let i=(blogs.length==1)? 0 : 1; i>=0; i--){ %>

                                <div class="blog__post">
                                    <div class="blog__post__header">
                                        <div class="author__img">
                                            <img src="./images/pngwing.com (3).png" alt="">
                                        </div>

                                        <div class="author__name">
                                            <h2><%= blogs[i].userName %></h2>
                                        </div>
                                    </div>

                                    <div class="blog__post__main">

                                        <p><%= blogs[i].blog %> </p>

                                    </div>

                                    <div class="blog__post__footer">
                                        <div class="like">
                                        <a href="/update_like_count/<%= blogs[i]._id %>"><span class="like__count"><%= blogs[i].likeCount %></span><i class="fas fa-thumbs-up"></i>like</a> 
                                        </div>

                                        <div class="like">
                                            <a href="/comments/<%= blogs[i].id %>"><i class="fas fa-comments"></i>Comment</a> 
                                        </div>

                                        <div class="like">
                                            <a href="#"><i class="fas fa-share"></i>Share</a> 
                                        </div>
                                    </div>
                                </div>                                
                            <% } %>

                      <% } %>

                          
                

                </div>


                <div class="view__more__post">
                    <a href="/blogs">View More</a>
                </div>

        <% } %>


        
    </section>





    <!-- ===================== Footer ======================= -->
    <footer class="footer">

        <div class="footer__wrapper">

            <div class="info__footer">
                 <div class="footer__logo">
                     <a href="#">
                        <!-- <div class="logo">
                               <img src="./hamburger.png" alt="">
                        </div> -->

                        <div class="logo__txt">
                            <h2>ShayRI</h2>
                        </div>
                     </a>
                 </div>

                 <div class="details__para__footer">
                     <p>This is the blog site ,
                        here you can post the blog 
                        and can see the people blog.</p>
                 </div>

                 <div class="personal__details__footer">
                     <p><i class="fas fa-circle dot"></i> Mb No : 7387137596</p>
                     <p><i class="fas fa-circle dot"></i> Email : ankuchavhan11@gmail.com</p>
                 </div>
            </div>



    
            <div class="others__page__footer">
                <div class="footer__section__title">
                    <h2>Others Pages</h2>
                </div>

                <ul>
                    <li>
                        <a href="/" class="link__footer">> Home</a>
                    </li>

                    <li>
                        <a href="/userPanal" class="link__footer">> UserPanal</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">> All Users</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">> Feedbacks</a>
                    </li>
                </ul>
            </div>

    
<!-- 
            <div class="other__links__footer">
                <div class="footer__section__title">
                    <h2>Others Links</h2>
                </div>

                <ul>
                    <li>
                        <a href="#" class="link__footer">Suppliers</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">term & services</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#" class="link__footer">carrer</a>
                    </li>
                </ul>
            </div> -->
    


            <div class="social__footer">
                <div class="footer__section__title">
                    <h2>Follow Us</h2>
                </div>

                <div class="social__icons">
                    <div>
                        <a href="https://www.facebook.com/profile.php?id=100059546014440" target="_blank">
                            <img src="./images/facebook (1).png" alt="">
                        </a>
                    </div>

                    <div>
                        <a href="https://www.instagram.com/ankushchavhan45/" target="_blank">
                            <img src="./images/instagram (1).png" alt="">
                        </a>
                    </div>

                    <div>
                        <a href="https://github.com/AnkushChavhan7596" target="_blank">
                            <img src="./images/github-sign (1).png" alt="">
                        </a>
                    </div>

                    <div>
                        <a href="https://www.linkedin.com/in/ankush-chavhan-424546205/" target="_blank">
                            <img src="./images/linkedin (1).png" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>


        <div class="footer__bottom">
            <p>&copy; Copyright <span class="current__year__footer"></span> All Rights are reserved.</p>
        </div>

    </footer>


 



    <script src="./js/home.js"></script>
</body>
</html>