<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/profileDetails.css">
</head>

<body>
    <section class="main-container">
        <div class="sidebar">
            <div class="logo-container">
                <!-- <div class="logo-container__logo">
                    <img src="./images/<%= currentUser.profilePic %>" alt="logo">
                </div> -->
                <div class="logo-container__logoname">
                    <a href="/"><h2>ShayRI</h2></a>
                </div>
            </div>

            <div class="sidebar-links-container">
                <ul>
                    <li><a href="/"><span class="link-icons"><img src="./images/house.png" alt=""></span><span class="name">Home</span></a></li>
                    <li><a href="/userPanal"><span class="link-icons"><img src="./images/admin.png" alt=""></span><span class="name">User Panal</span></a></li>
                    <li><a href="/profile_details"><span class="link-icons"><img src="./images/profile.png" alt=""></span><span class="name">Profile </span></a></li>
                    <li><a href="/get_create_post"><span class="link-icons"><img src="./images/createPost.png" alt=""></span><span class="name">Create Blog</span></a></li>
                    <!-- <li><a href="#"><span class="link-icons"><img src="./images/comments.png" alt=""></span><span class="name">Comments</span></a></li> -->
                    <li><a href="/edit_profile"><span class="link-icons"><img src="./images/edit.png" alt=""></span><span class="name">Edit Profile</span></a></li>
                    <li><a href="/get_feedback"><span class="link-icons"><img src="./images/rating.png" alt=""></span><span class="name">Feedback</span></a></li>
                </ul>
            </div>
            
            <div class="logout-btn-container">
                <a href="/logout">Logout</a>
            </div>
        </div>


        <div class="main-panal">
               <nav class="navbar">
                     <div class="hello-heading">
                         <h2>
                             Hello , <span class="username"><%= currentUser.full_name %></span>
                         </h2>
                     </div>

                     <div class="profile-pic">
                         <img src="./images/<%= currentUser.profilePic %>" alt="Profile">
                     </div>

                     <div class="hambergur">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
               </nav>

                <div class="posts-container">
                    
                    <section class="profile_details_wrapper">
                           <div class="left">
                                   <div class="section-heading">
                                       <h2>Profile : </h2>
                                   </div>

                                   <div class="name profile_field">
                                       <p>Name : <%= currentUser.full_name %> </p>
                                   </div>

                                   <div class="email profile_field">
                                     <p>Email : <%= currentUser.email %> </p>
                                  </div>

                                  <div class="mobile profile_field">
                                    <p>mobile : <%= currentUser.mobile %></p>
                                 </div>

                                 <div class="date profile_field">
                                    <p>Date of Joining : <%= currentUser.date_of_joining %> </p>
                                 </div>


                                 <div class=" profile_field">
                                    <p>Number of Posts : <%= numberOfPosts %> </p>
                                 </div>
                           </div>

                           <div class="right">
                                 <div class="profile__img">
                                     <img src="./images/<%= currentUser.profilePic %>" alt="">
                                 </div>
                           </div>
                    </section>


                </div>   

         </div>
    </section>
    
    <div class="overlay"></div>

    <script>
        const hambergurBtn = document.querySelector(".hambergur");
        const bars = document.querySelectorAll(".bar");
        const sidebar = document.querySelector(".sidebar");
        const overlay = document.querySelector(".overlay");

        hambergurBtn.addEventListener("click", ()=>{
            bars.forEach((bar)=>{
                bar.classList.toggle("active");
            });

            sidebar.classList.toggle("show-sidebar");
            overlay.classList.toggle("show-overlay");
        });
        

    </script>

</body>
</html>